.modal {
  display: none;
}

.modal__backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index:13;
}

.modal__content {
  position: fixed;
  top: 1em;
  bottom: 1em;
  right: 5%;
  left: 5%;
  padding: 1em 1.5em;
  background-color: white;
  box-shadow: 0 0 30px 0 rgba(82,63,105,.05);
  overflow: auto;
  border-radius: .35em;
  display: flex;
  flex-direction: column;
  z-index:14;
}

.modal__header, 
.modal__body,
.modal__footer {
  background-color: transparent;
  padding: 1.5em;
  margin: 0;
}

.modal__header {
  border-bottom: 1px solid #f0f0f0;
}

.modal__body {
  flex: 1;
}

.modal__footer {
  border-top: 1px solid #f0f0f0;
}

@media(min-width: 50em) {
  .modal__content {
    top: 3em;
    bottom: 3em;
    right: 20%;
    left: 20%;
    padding: 2em 3em;
  }
}

.modal__close {
  cursor: pointer;
  position: absolute;
  top: 0.3em;
  right: 0.3em;
  padding: 0.3em;
  font-size: 2em;
  height: 1em;
  width: 1em;
  text-indent: 10em;
  overflow: hidden;
  border: 0;
  background-color: transparent;
}

.modal__close::after {
  content: "\00D7";
  position: absolute;
  line-height: 0.5;
  top: 0.2em;
  left: 0.2em;
  text-indent: 0;
}

.modal--show {
  display: block;
}
