/* Change autocomplete styles in WebKit */
input.textfield:-webkit-autofill,
textarea.textfield:-webkit-autofill,
select.textfield:-webkit-autofill {
  border: 1px solid var(--color-gray) !important;
  -webkit-box-shadow: 0 0 0 1000px var(--color-gray) inset;
}
input.textfield:-webkit-autofill:hover,
input.textfield:-webkit-autofill:focus,
textarea.textfield:-webkit-autofill:hover,
textarea.textfield:-webkit-autofill:focus,
select.textfield:-webkit-autofill:hover,
select.textfield:-webkit-autofill:focus {
  border: 1px solid var(--color-gray-dark) !important;
  -webkit-box-shadow: 0 0 0 1000px var(--color-gray-dark) inset;
}

.textfield {
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  background-color: var(--color-gray);
  border:1px solid var(--color-gray);
  border-radius: .4em;
  display: block;
  position: relative;
  width: 100%;
  line-height: .8em;
  padding: .6em;
  margin: 0;
}

.textfield--inline {
  display: inline-block;
  width: inherit;
}

select.textfield {
  -moz-appearance: none; 
  -webkit-appearance: none; 
  appearance: none;
  padding: .95em;
  cursor: pointer;
}

select.textfield::after {
  content:"";
  position: absolute;
  right: 1em;
  top: 1em;
  padding: 10em;
  border: 0.3em solid;
  border-color: black transparent transparent;
}

textarea.textfield {
  resize: none;
  min-height: 6em;
}

.textfield:focus, 
.textfield:hover
{
  outline: none;
  border-color: var(--color-gray-dark);
  background-color: var(--color-gray-dark); /*#d9d9d9;*/
}

.textfield__error {
  display: none;
  font-size: .8em;
  padding: .8em ;
  line-height: 1em;
  color: var(--color-danger);
  margin: 0;
}

.textfield--error {
  display: inherit;
}

input[type="date"].textfield::-webkit-calendar-picker-indicator {
  background: transparent;
  bottom: 0;
  color: transparent;
  cursor: pointer;
  height: auto;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: auto;
}
